.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  /* background-color: #282c34; */
  background-color: #0a1929;
  color: azure;
  min-height: 100vh;
}

.App-presentation {
  background-color: #19314b;
  color: #fafafa;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.Main-left-container {
  background-color: #6152a5;
  color: #ffffff;

  border-radius: 30px;
}

.Principal-Back {
  background-color: #d0d0d0;
  color: #252525
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}